# This is Git's per-user configuration file.
[user]
	name = DavidTorres-kastor
  email = david.torres@kastor.cl
[core]
  editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
